language: node_js

node_js:
  - "0.10"
script: npm run $COMMAND
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

env:
  matrix:
  - COMMAND=test
  - COMMAND=test-firefox
#  - COMMAND=test-phantomjs # Restore when https://code.google.com/p/selenium/issues/detail?id=8088 fixed
  - COMMAND=coverage

branches:
  only:
  - master
  - /^pull*$/
